.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 10px auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 0 10px #ccc;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content .modal-body {width: 100%; padding: 20px 16px; font-size: 14px; float: left;  background-color: #ffffff;}
.modal-content .modal-header {width: 100%;float: left;padding: 5px 16px;background-color: #5cb85c;color: white;}
.modal-body .img_modal{width: 23%; float: left;}
.modal-body .img_modal img{width: 160px; height: 170px;}
.modal-body .detail_modal{width: 75%; float: left; padding:0 5px; }
.modal-body .detail_modal .form_permission{width: 100%; margin-left: 25px; padding-bottom: 15px;}
.modal-body .detail_modal .form_permission .box_permission{width: 100%; padding:5px;}
.modal-body .detail_modal .form_permission .box_permission .permission label{padding-right: 20px;}
.modal-body .detail_video{width: 100%; }
.modal-body .detail_video img{width: 700px; height: 400px; margin: 0px 5%;}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




